@font-face
{
font-family: GT-Walsheim-Regular;
src: url(GT-Walsheim-Regular.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: GT-Walsheim-Regular;
src: url(GT-Walsheim-Regular-Oblique.woff);
font-weight: normal;
font-style: italic;
}


body {
	font-family: GT-Walsheim-Regular;
	font-size: 2em;
	background-color: white;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
	line-height: 1.3;
}

.yellow {
	background: #ffff00;
	color: #000;
}

.blue {
	background: #000;
	color: white;
}


.red {
	background: red;
	color: yellow;
}


a {
	text-decoration: none;
	border-bottom: 2px solid #182afa;
	color: #182afa;
}

a:hover {
	background-color: blue;
	color: white;
	border-bottom: 2px solid #182afa;
}

h1 {

	font-size: 1em;
	
}

/*------------ CONTENT -----------*/

div {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	font-size: .8em;
	padding-top: 10px;
	padding-bottom: 20px;
}

#container {
	margin-top: 10px;
}

img {
	width: 100%;
	padding-top: 20px;
}

#push {
	display: block;
	margin-top: 10px;
}

#download, #reading {
	font-size: .65em;
	line-height: 1.5;
}

#small {
font-size: .6em;
letter-spacing: .5px;
margin-top: 0px;
padding-top: 0px;
}

#small {
font-size: .6em;
letter-spacing: .5px;
margin-top: 0px;
padding-top: 0px;
}

#reading {
	margin-top: -50px;
}

#contact {
	margin-top: 20px;
}


/*------------ MOBILE -----------*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


body {
	font-size: 4.4em;
	line-height: 1.3;
	padding-left: 10px;
	padding-right:10px;
	background-color: white;
}

div {
	padding-top: 20px;
	padding-bottom: 20px;
}

#container {
	margin-top: 20px;
}

#reading {
	margin-top: -30px;
}

}
